<!DOCTYPE html>
<html>
  <head>
    #set($currentPage="category")
    #include("commponent/static.vm")
    <title>类目创建/编辑</title>
  </head>
  <body> 
    #parse("commponent/header.vm")
    <style>
      .form-control{border-radius: 0px;}
      .panel{border-radius: 0px;}
    </style>
    <div class="container main">
      <div class="panel panel-default">
        <div class="panel-heading">
          类目创建/编辑
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <select class="form-control">
                <option>一级分类</option>
                <option>二级分类</option>
              </select>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-primary" type="button">新增</button>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <td>名称</td>
                <td>是否展现</td>
                <td>操作</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>