<!DOCTYPE html>
<html>
  <head>
    #set($currentPage="column")
    #include("commponent/static.vm")
    <title>指标编辑</title>
  </head>
  <body> 
    #parse("commponent/header.vm")
    <div class="container main">
      <div class="panel panel-default">
        <div class="panel-heading">
          指标编辑
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td>源字段</td>
                <td>展现名称</td>
                <td>使用模板</td>
                <td>分组</td>
                <td>是否显示</td>
                <td>操作</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>user_id</td>
                <td>用户id</td>
                <td>关键字匹配</td>
                <td>基础类>基础信息</td>
                <td>是</td>
                <td>编辑</td>
              </tr>
              <tr>
                <td>user_id</td>
                <td>用户id</td>
                <td>关键字匹配</td>
                <td>基础类>基础信息</td>
                <td>是</td>
                <td>编辑</td>
              </tr>
              <tr>
                <td>user_id</td>
                <td>用户id</td>
                <td>关键字匹配</td>
                <td>基础类>基础信息</td>
                <td>是</td>
                <td>编辑</td>
              </tr>
              <tr>
                <td>user_id</td>
                <td>用户id</td>
                <td>关键字匹配</td>
                <td>基础类>基础信息</td>
                <td>是</td>
                <td>编辑</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>