<!DOCTYPE html>
<html>
  <head>
    #set($currentPage="filter")
    #include("commponent/static.vm")
    <title>类目创建/编辑</title>
  </head>
  <body>
    #parse("commponent/header.vm")
    <div class="container main">
      #parse("commponent/conditions.vm")
      <style>
        .current-table{width:100%;}
        .first-td{vertical-align: top;width: 12%;}
        .first-td h2{margin-top:27px;}
      </style>
      <table class="current-table">
        <tr>
          <td class="first-td">
            <h2>基础类</h2>
          </td>
          <td>
            <div class="row">
              <div class="col-sm-4">
                <div class="page-header">
                  <h4>Example page header</h4>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <div class="page-header">
                  <h4>Example page header</h4>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <div class="page-header">
                  <h4>Example page header</h4>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <table class="current-table">
        <tr>
          <td class="first-td">
            <h2>产品类</h2>
          </td>
          <td>
            <div class="row">
              <div class="col-sm-4">
                <div class="page-header">
                  <h4>Example page header</h4>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <div class="page-header">
                  <h4>Example page header</h4>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>