<!DOCTYPE html>
<html>
  <head>
    #set($currentPage='index')
    #include("commponent/static.vm")
    <title>首页</title>
  </head>
  <body>
    #parse("commponent/header.vm")
    <div class="container main">
      我是首页
    </div>
  </body>
</html>