<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//hm.baidu.com">
    <link rel="dns-prefetch" href="//eiv.baidu.com">
    <link rel="dns-prefetch" href="//stats.g.doubleclick.net">
    <title>test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./common/base.css" />
    <link rel="stylesheet" type="text/css" href="./page/index/index.css" />
    <script type="text/javascript" async src="./common/lib/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    我是测试页
    <script type="text/javascript" async src="./page/index/index.js"></script>
  </body>
</html>