.sideBox
  width 145px
  height 400px
  position absolute
  top -15px
  overflow hidden
  border none
  z-index 1
  ul
    li
      list-style none
      display block
      height 50px
      line-height 50px
      color #666
      a
        cursor pointer
      .selected
        color red
  .title
    font-size 20px