<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

<link rel="dns-prefetch" href="//www.google-analytics.com" />
<link rel="dns-prefetch" href="//hm.baidu.com">
<link rel="dns-prefetch" href="//eiv.baidu.com">
<link rel="dns-prefetch" href="//stats.g.doubleclick.net">

<link rel="stylesheet" type="text/css" href="./common/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="./common/base.css" />

<script type="text/javascript" src="./common/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./common/lib/bootstrap/dist/js/bootstrap.min.js"></script>